<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/admin/layout::layout(~{::head}, ~{::main})}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/admin/deliver.css">
<title>배송내역</title>
</head>

<main>
	<div class="container">
		<h1>배송관리</h1>
		<table>
			<thead>
				<tr>
					<th>배송번호</th>
					<th>배송지</th>
					<th>배송업체</th>
					<th>배송일자</th>
					<th>배송완료일자</th>
				</tr>
			</thead>
			<tbody>
                <tr th:each="deliver : ${delivers}">
                    <td th:text="${deliver.devNo}"></td>
                    <td th:text="${deliver.address}"></td> <!-- 주소는 추가 데이터 처리 필요 -->
                    <td th:text="${deliver.devCompany}"></td>
                    <td th:text="${deliver.devTime}"></td>
                    <td th:text="${deliver.devComplete}"></td>
                </tr>
            </tbody>
		</table>
		<!-- 페이지네이션 추가 -->
        <div class="pagination">
            <a href="#" class="disabled">« </a>
            <a href="#" class="active">1</a>
            <a href="#" class="disabled">2</a>
            <a href="#" class="disabled">3</a>
            <a href="#">» </a>
        </div>
	</div>
</main>
</html>
