<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/admin/layout::layout(~{::head}, ~{::main})}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="/css/admin/excRef.css">
<script th:src="@{/js/admin/excRef.js}"></script>
<title>환불</title>

</head>

<main>
	<div class="tab">
    <div onclick="openTab('exchange')" class="active">교환</div>
    <div onclick="openTab('refund')">환불</div>
</div>

	<div id="exchange" class="tabcontent" style="display: block;">
		<div class="container">
			<h1>교환</h1>
			<div class="header"></div>
			<table>
				<thead>
					<tr>
						<th>요청번호</th>
						<th>관리</th>
						<th>요청상태</th>
						<th>교환 접수일시</th>
						<th>주문번호</th>
						<th>요청자</th>
					</tr>
				</thead>
				<tbody>
					<!-- 교환 테이블 -->
					<tr th:each="ex : ${exRef}"
						th:if="${ex.requestType.name() == 'EXCHANGE'}">
						<td th:text="${ex.requestNo}">요청번호</td>
						<td>
							<button class="exchange-history"
								th:onclick="'openModal(' + '\'exchangeModal\', \'' + ${ex.requestNo} + '\')'"
								th:data-request-no="${ex.requestNo}"
								th:data-request-status="${ex.requestStatus.roleName}"
								th:data-request-date="${ex.requestDate}"
								th:data-order-no="${ex.order.orderNo}"
								th:data-member-name="${ex.member.name}"
								th:data-reason="${ex.reason}">교환상세</button>
							<button class="options" th:data-request-no="${ex.requestNo}" onclick="openOptionsModal('EXCHANGE', this)">옵션</button>
						</td>
						<td th:text="${ex.requestStatus.roleName}">요청상태</td>
						<td th:text="${ex.requestDate}">요청날짜</td>
						<td th:text="${ex.order.orderNo}">주문번호</td>
						<td th:text="${ex.member.name}">회원명</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 교환내역 모달 -->
		<div id="exchangeModal" class="modal">
			<div class="modal-content1">
				<span class="close" onclick="closeModal('exchangeModal')">&times;</span>
				<h2>교환상세</h2>
				<div class="exchange-info">
					<table class="modal-table">
						<tr>
							<th class="tags">교환상태</th>
							<td class="detail requestStatus"></td>
						</tr>
						<tr>
							<th class="tags">교환 요청자</th>
							<td class="detail memberName"></td>
						</tr>
						<tr>
							<th class="tags">교환 번호</th>
							<td class="detail requestNo"></td>
						</tr>
						<tr>
							<th class="tags">요청 일시</th>
							<td class="detail date"></td>
						</tr>
						<tr>
							<th class="tags">주문번호</th>
							<td class="detail orderNo"></td>
						</tr>
						<tr>
							<th class="tags">사유</th>
							<td class="detail reason"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<!-- 교환 옵션 모달 -->
		<div id="exchangeOptionsModal" class="modal">
			<div class="modal-content2">
				<span class="close" onclick="closeModal('exchangeOptionsModal')">&times;</span>
				<h2>교환 관리옵션</h2>
				<div class="item">실행하실 항목을 선택하세요.</div>
				<button id="exchangeApproveBtn" class="option-button"
					onclick="updateStatus('EXCHANGE', 'APPROVE', $('#exchangeOptionsModal').data('requestNo'))">교환승인</button>
				<button id="exchangeCancelBtn" class="option-button"
					onclick="updateStatus('EXCHANGE', 'CANCEL', $('#exchangeOptionsModal').data('requestNo'))">교환취소</button>
			</div>
		</div>
	</div>

	<div id="refund" class="tabcontent">
   <div class="container">
            <h1>환불</h1>
            <div class="header"></div>
            <table>
                <thead>
                    <tr>
                        <th>요청번호</th>
                        <th>관리</th>
                        <th>요청상태</th>
                        <th>환불 접수일시</th>
                        <th>주문번호</th>
                        <th>요청자</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 환불 데이터만 렌더링 -->
                    <tr th:each="ex : ${exRef}" th:if="${ex.requestType.name() == 'REFUND'}">
					    <td th:text="${ex.requestNo}">요청번호</td>
					    <td>	
							<button class="refund-history"
								th:onclick="'openModal(' + '\'refundModal\', \'' + ${ex.requestNo} + '\')'"
								th:data-request-no="${ex.requestNo}"
								th:data-request-status="${ex.requestStatus.roleName}"
								th:data-request-date="${ex.requestDate}"
								th:data-order-no="${ex.order.orderNo}"
								th:data-member-name="${ex.member.name}"
								th:data-reason="${ex.reason}">환불상세</button>
							<button class="options" th:data-request-no="${ex.requestNo}" onclick="openOptionsModal('REFUND', this)">옵션</button>
						</td>
					    <td th:text="${ex.requestStatus.roleName}">요청상태</td>
					    <td th:text="${ex.requestDate}">요청날짜</td>
					    <td th:text="${ex.order.orderNo}">주문번호</td>
					    <td th:text="${ex.member.name}">회원명</td>
					</tr>
                </tbody>
            </table>
        </div>

    <!-- 환불내역 모달 -->
    <div id="refundModal" class="modal">
	    <div class="modal-content1">
	        <span class="close" onclick="closeModal('refundModal')">&times;</span>
	        <h2>환불상세</h2>
	        <div class="exchange-info">
	            <table class="modal-table">
	                <tr>
	                    <th class="tags">환불상태</th>
	                    <td class="detail requestStatus"></td>
	                </tr>
	                <tr>
	                    <th class="tags">환불 요청자</th>
	                    <td class="detail memberName"></td>
	                </tr>
	                <tr>
	                    <th class="tags">환불 번호</th>
	                    <td class="detail requestNo"></td>
	                </tr>
	                <tr>
	                    <th class="tags">요청 일시</th>
	                    <td class="detail date"></td>
	                </tr>
	                <tr>
	                    <th class="tags">주문번호</th>
	                    <td class="detail orderNo"></td>
	                </tr>
	                <tr>
	                    <th class="tags">사유</th>
	                    <td class="detail reason"></td>
	                </tr>
	            </table>
	        </div>
	    </div>
	</div>

	    <!-- 환불 옵션 모달 -->
		<div id="refundOptionsModal" class="modal">
			<div class="modal-content2">
				<span class="close" onclick="closeModal('refundOptionsModal')">&times;</span>
				<h2>환불 관리옵션</h2>
				<div class="item">실행하실 항목을 선택하세요.</div>
				<button id="refundApproveBtn" class="option-button"
					onclick="updateStatus('REFUND', 'APPROVE', $('#refundOptionsModal').data('requestNo'))">환불승인</button>
				<button id="refundCancelBtn" class="option-button"
					onclick="updateStatus('REFUND', 'CANCEL', $('#refundOptionsModal').data('requestNo'))">환불취소</button>

			</div>
		</div>
	</div>
</main>
</html>
