<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:fragment="layout(pHead,pMain)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/admin/layout.css">
    <link rel="icon" href="/img/logo_favicon.png">
    <th:block th:replace="${pHead}" />
</head>
<body>
    <div class="topbar">
        <div class="logo">
            <img src="/img/logo.png" class="logo">
            <a  class="shopname" href="/admin/petfir">PETFIR</a>
        </div>
        <div class="user-profile">
        	<img class="profile" src="/img/logo.png">
           	<b sec:authentication="principal.name">이름</b>
        <form action="/logout" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button class="logout_btn">로그아웃</button>
		</form>
        </div>
    </div>
	<div class="flex">
		<th:block th:replace="~{views/admin/left-menu}" />
	    <main th:replace="${pMain}"></main>
	</div>
</body>

</html>