<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/admin/layout::layout(~{::head}, ~{::main})}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="stylesheet" href="/css/admin/petfir.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:src="@{/js/admin/petfir.js}"></script>
<title>PETFIR</title>
</head>
<main>
	<div class="content">
		<div id="chart_div" style="width: 900px; height: 500px;"></div>
		<button onclick="downloadExcel()">엑셀 다운로드</button>
	</div>
</main>
</html>
