<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
<h2>오늘만 이가격</h2>
<p>매일 오전 10시, 한정특가</p>
<div class="inner-wrap flex">
	<div class="col-6img">
  			<img src="${product.imgUrl}" alt="Product Image"/>
  		</div>
	<div class="col-6-text">
		<div class="flex middle">
			<i class="ri-time-fill" ></i>
			<i></i>
   			<span class="time" id="timer">00:00:00</span>
   		</div>
   	<div class="col-6-text-inner">
   		<div class="flex middle">
   			<p id="product-name" th:text="${product.productName}">로얄캐닌 푸들 어덜트 500g 피모관리</p>
   		</div>
   		<div class="flex middle">
   			<p id="discount" class="dis-per" th:text="${product.discount+'%'}">20%</p><p id="original-price" class="dis-pri" th:text="|${#numbers.formatInteger(product.discountPrice,3,'COMMA')}원|">8,350원</p><p id="price" th:text="|${#numbers.formatInteger(product.price,3,'COMMA')}원|">10,400원</p>
   		</div>
   	</div>
  		</div>
</div>
</div>
</html>