<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{views/commons/layout :: frame(pHead=~{::head}, pMain=~{::main}, pHeader=~{::header}, pFooter=~{::footer})}">
<head th:fragment="head">
    <title>Product Detail</title>
    <link rel="stylesheet" href="/css/product_detail/product_detail.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/product_detail.js"></script>
    <script src="/js/pay/detailcart.js"></script>
	<script src="/js/pay/onedetail.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<header th:fragment="header" class="header">
    <div class="header__title">Header Content</div>
</header>
<main th:fragment="main" class="main-content container">
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>
      <div th:if="${product != null}" class="product-detail" th:attr="data-product-id=${product.productNo}"> <!-- 여기 수정 -->
        <div class="product-detail__left-column">
            <img class="product-detail__main-image" id="main-image"
                 th:if="${not #lists.isEmpty(product.images)}"
                 th:src="${product.images[0].imgUrl}"
                 th:alt="${product.productName}">
            <img class="product-detail__main-image" id="main-image"
                 th:unless="${not #lists.isEmpty(product.images)}"
                 src="//s3.ap-northeast-2.amazonaws.com/nowon.images.host123/product/animal/dog/dogFood/dogFood.png"
                 alt="Default Product Image">
        </div>
        <div class="product-detail__right-column">
            <h2 class="product-info product-detail__name" th:text="${product.productName}"></h2>
            <div class="product-info product-detail__reviews">상품평:101110101010</div>
            <div class="product-info product-detail__price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + '원'"></div>
            <dl class="product-info number">
                <dt>옵션선택</dt>
                <dd class="totalPriceArea">
                    <div class="numberBox" id="numberBox" th:attr="data-discount_price=${product.discountPrice}, data-regular_discount_rate=${product.discount}">
                        <a href="#" class="orderPMBtn_m btnMinus btn_numDown" onclick="btnMinusClick(event, this);"><span class="blind">수량빼기</span></a>
                        <input type="text" id="quantity" class="ea quantity numInput" maxlength="3" value="1" title="수량입력" onchange="quantityChange(this);">
                        <a href="#" class="orderPMBtn_p btnPlus btn_numUp" onclick="btnPlusClick(event,this);"><span class="blind">수량더하기</span></a>
                    </div>
                    <span id="eaPrice" class="priceBox" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + '원'"></span>
                </dd>
                <dd>
                    <p class="orderPtotal_tit">
                        <span id="count_tit" class="count_tit">
                            <span>총 수량</span><span class="num">1</span><span>개</span>
                        </span>
                        <span id="totalPrice" class="orderPtotal_num totPrice">
                            <strong th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></strong>원
                        </span>
                    </p>
                </dd>
            </dl>
            <div class="product-info product-detail__buttons">
                <button class="product-detail__cart-button">장바구니 담기</button>
                <button onclick="window.open('http://localhost:8080/petfir/pay/onepaydetail','window_name','width=1500,height=800,location=no,status=no,scrollbars=yes,left=200,top=200');" type="button" class="product-detail__buy-button">결제하기</button>
            </div>
            <div class="prod-description">
                <ul class="prod-description-attribute">
                    <li class="prod-attr-item" style="display: list-item;">유통기한: 2025-02-28 이거나 그 이후인 상품</li>
                    <li class="prod-attr-item" style="display: list-item;">대상연령: 전연령</li>
                    <li class="prod-attr-item" style="display: list-item;">사료 타입: 건식사료</li>
                    <li class="prod-attr-item" style="display: list-item;">총 중량: 3kg</li>
                    <li class="prod-attr-item" style="display: list-item;">대상크기: 전대상견용</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product-description">
        <h3 class="product-description__title">상품 상세 정보</h3>
        <img class="product-description__image" src="//thumbnail9.coupangcdn.com/thumbnails/remote/q89/image/retail/images/85328037924503-38086694-367e-4e57-8d01-689d81c07e92.jpg" alt="Detail Image 1">
        <img class="product-description__image" src="//thumbnail10.coupangcdn.com/thumbnails/remote/q89/image/retail/images/84056781434192-4909ff22-a2de-473e-aca5-5d1edda8ec4c.jpg" alt="Detail Image 2">
        <img class="product-description__image" src="//thumbnail8.coupangcdn.com/thumbnails/remote/q89/image/retail/images/84056893179749-bdb4e1dc-3977-4035-8c3e-6ca166c36d76.jpg" alt="Detail Image 3">
        <img class="product-description__image" src="//thumbnail9.coupangcdn.com/thumbnails/remote/q89/image/retail/images/85328130644518-a0885bcb-77b7-4a01-80e2-a48740243479.jpg" alt="Detail Image 4">
        <img class="product-description__image" src="//thumbnail10.coupangcdn.com/thumbnails/remote/q89/image/retail/images/14885410147348466-82263c64-9452-40a0-bf8a-4a2017e34cdd.jpg" alt="Detail Image 5">
        <img class="product-description__image" src="//thumbnail8.coupangcdn.com/thumbnails/remote/q89/image/retail/images/172553743569477-109c0894-7e31-44e1-b590-27327e42d078.jpg" alt="Detail Image 6">
        <img class="product-description__image" src="//thumbnail9.coupangcdn.com/thumbnails/remote/q89/image/retail/images/2106977879181253-2ba99487-958f-45a1-bb97-2bdbc2d765e5.jpg" alt="Detail Image 7">
        <img class="product-description__image" src="//thumbnail10.coupangcdn.com/thumbnails/remote/q89/image/retail/images/84056928397373-b61b4083-a152-4dc2-8675-7471e4df8483.jpg" alt="Detail Image 8">
    </div>
    <div class="product-reviews">
        <h3 class="product-reviews__title">상품평</h3>
        <div class="product-reviews__review">상품평 1
            최근에 구입한 연어맛 강아지사료는 여러 면에서 기대 이상이었습니다. 첫째, 강아지의 반응이 매우 긍정적이었습니다. 연어 특유의 풍미 덕분에 식욕이 없던 강아지마저도 사료를 잘 먹게 되었습니다. 특히 편식하는 강아지에게도 효과적이어서 많은 보호자들에게 추천할 만합니다.<br>
            <br>
            사료의 영양 성분도 우수합니다. 연어는 단백질과 오메가-3 지방산이 풍부하여 강아지의 피부와 털 건강에 도움이 됩니다. 실제로, 사료를 몇 주간 급여한 후 강아지의 털이 더욱 윤기 나고 부드러워진 것을 확인할 수 있었습니다. 또한, 연어는 소화가 잘 되는 단백질원으로, 소화기 문제가 있는 강아지에게도 적합합니다. 저희 강아지는 종종 소화 불량을 겪었는데, 이 사료를 먹고 나서는 그런 문제가 현저히 줄어들었습니다.<br>
            <br>
            사료의 크기와 형태도 적당합니다. 작은 알갱이 형태로 만들어져 있어 소형견부터 대형견까지 모두 쉽게 섭취할 수 있습니다. 또한, 사료가 바삭바삭한 식감을 가지고 있어 치아 건강에도 도움이 됩니다. 강아지가 사료를 씹으면서 치석이 제거되는 효과도 기대할 수 있습니다.<br>
            <br>
            가격 대비 성능도 뛰어납니다. 프리미엄 사료임에도 불구하고 가격이 비교적 합리적이어서 경제적으로도 부담이 적습니다. 특히, 대용량으로 구입할 경우 더욱 가성비가 좋습니다. 또한, 믿을 수 있는 브랜드에서 제조한 제품이라 품질에 대한 신뢰도도 높습니다.<br>
            <br>
            다만, 일부 강아지는 연어 알레르기가 있을 수 있으므로 처음 급여할 때는 소량씩 시도해 보는 것이 좋습니다. 저희 강아지는 다행히 알레르기 반응이 없었지만, 민감한 강아지의 경우 주의가 필요합니다. 또한, 연어 특유의 냄새가 강할 수 있어 일부 보호자에게는 불편하게 느껴질 수 있습니다. 하지만 대부분의 강아지는 이 냄새를 좋아하기 때문에 큰 문제는 아닙니다.<br>
            <br>
            종합적으로, 이 연어맛 강아지사료는 맛과 영양, 그리고 가격 측면에서 매우 우수한 선택입니다. 특히 피부와 털 건강을 중시하는 보호자들에게 강력히 추천할 만합니다. 저희 강아지는 이 사료 덕분에 건강하고 행복한 생활을 하고 있습니다.
        </div>
        <div class="product-reviews__review">상품평 2</div>
    </div>
</main>
<footer th:fragment="footer" class="footer">
    <!-- Footer content can be defined or included here -->
</footer>
</body>
</html>