<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/admin/layout::layout(~{this::head}, ~{this::main})}">

<head>
	<!-- Q&A  페이지를 위한 스타일 시트 연결 -->
	 <link rel="stylesheet" href="/css/cs/qna.css">
</head>
<main>
	<!-- qna 리스트 페이지의 메인 제목 -->
	<h1>Q&A 리스트</h1>
	<div class="wrap container">
		<!-- Q&A 리스트의 제목 -->
		<p class="page-title">Q&A 리스트</p>
		<section id="qna-list">
			<!-- 섹션의 제목 -->
			<h1>컨텐츠</h1>
			<!-- qna 내용이 들어갈 영역 -->
			<div class="contents"></div>
		</section>
	</div>
</main>

</html>