<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/admin/layout::layout(~{this::head}, ~{this::main})}">

<head>
	
	<link rel="stylesheet" href="/css/cs/notice-admin.css">
</head>
<main id="cs">
	<h1>공지사항 리스트-관리자</h1>
	<div class="wrap">
		<p class="page-title">공지사항 리스트</p>
		<section id="notice-admin-list">
			<h1>컨텐츠</h1>
			<div class="contents">
				<table>
					<thead>
						<tr>
							<td class="no">번호</td>
							<td class="title">제목</td>
							<td class="create-at">등록일</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dto:${list}">
							<td th:text="${dto.noticeNo}">번호</td>
							<td class="title">
								<a th:href="|/admin/customer/notices/${dto.noticeNo}|" th:text="${dto.title}">제목</a>
							</td>
							<td th:text="${dto.createAt.toLocalDate}">등록일</td>
						</tr>
					</tbody>
				</table>
				<ol class="paginate flex center">
					<li>
						<a href="#">&lt;</a>
					</li>
					<li th:each="pno:${#numbers.sequence(1,10)}">
						<a href="#">[[${pno}]]</a>
					</li>
					<li>
						<a href="#">&gt;</a>
					</li>
				</ol>
			</div>

		</section>
	</div>
</main>

</html>