<aside class="sidebar">
	<div>
		<a class="category-all"><span>카테고리</span>
	    <span>></span>
	    </a>
	</div>
	<div>
	    <ul>
	        <li> 
	            <ul class="category-parent">
	                <li><a><span>강아지 샵</span>
	                	<span> > </span>
	                	</a>
		                <div class="category-child">
		                 	<ul>
		                 		<li><a href="/public/shop/dogs/food">사료 & 간식</a></li>
		                 		<li><a href="/public/shop/dogs/supplies">용품</a></li>
		                 		<li><a href="/public/shop/dogs/toys">장난감</a></li>
		                 		<li><a href="/public/shop/dogs/supplements">영양제</a></li>
		                 	</ul>
		                </div>
	                </li>
	            </ul>
	            <ul class="category-parent">
	                <li><a><span>고양이 샵</span>
	                	<span> > </span>
	                	</a>
	                	<div  class="category-child">
		                  	<ul>
		                  		<li><a>사료 & 간식</a></li>
		                  		<li><a>캣타워</a></li>
		                  		<li><a>장난감</a></li>
		                  		<li><a>영양제</a></li>
		                  	</ul>
	                	</div>
	                </li>
	            </ul>
	            <ul class="category-parent">
	                <li><a><span>기타동물 샵</span>
	                	<span> > </span>
	                	</a>
	                	<div  class="category-child">
		                 	<ul>
		                 		<li><a>사료 & 간식</a></li>
		                 		<li><a>용품</a></li>
		                 	</ul>
	                	</div>
	                </li>
	            </ul>
	        </li>
	    </ul>
	</div>
</aside>
