@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

.login{
	
	height:100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column; /* 추가: 자식 요소들을 수직으로 정렬 */
}

.login-menu{
	
	border-radius: 1em;
	text-align: center;
	height:500px;
	max-width: 500px;
	width: 100%;
	border: 1px solid var(--sub-grey);
	padding-bottom: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	flex-direction: column;
}

.login_top , .social_log {
	display: flex;               
	justify-content: center;      
	align-items: center;          
	text-align: center;          
	font-size: 35px; 
}

.login_name {
	font-size: 40px;              
	margin-left: 10px;            
}

#loginimg {
	height: 80px;              
	width: 80px;                 
}


.login-input{
	
	padding: 1em;
	padding-bottom: 30px;
	

}

.login-input > div {
	
	padding-bottom: 20px;
}

.login-input > div>input{
	
	border: none;
	height: 30px;
	font-family: "Hi Melody", sans-serif;
	font-size: 30px;
	
	
}

.login-menu > form {
	
	padding-bottom: 5px;
}

.logi_but, .sign_but{
	
	
	background-color: var(--sub-pink);
	width: 300px;
	height: 50px;
	font-family: "Hi Melody", sans-serif;
	font-size:30px;
	border-radius: 1em ;
	border: 1px;
	margin-bottom: 20px;
	color: var(--grey);
	
}

.social_log{
	
	padding-top: 30px;
}

.social_log> a{
	
	font-size: 30px;
}

