body {
	display: block;
	line-height: 1.6;
}

dl dt, dl p, dl dd, dl span {
	line-height: 1.6
}

.logo {
	display: flex;
	align-items: center;
	height: 73px;
}

b{
	font-size: 24px;
	margin-right: 25px;
}

.logout_btn {
	width: 50px; /* 버튼의 너비 */
	height: 50px; /* 버튼의 높이 */
	border: none;
	background: url(/img/logout.png) no-repeat center center;
	background-size: contain; /* 이미지 크기 조정 */
	cursor: pointer;
	text-align: center;
	line-height: 100px; /* 텍스트를 버튼 중앙에 위치시키기 위한 설정 */
}

.sidebar {
	width: 200px;
	background-color: black;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding-top: 50px; /* 탑바 높이만큼 패딩 추가 */
	position: fixed;
	height: 100%;
	font-size: 24px;
}

.sidebar .tag a {
	text-decoration: none;
	color: #fff;
	padding: 20px;
	display: block;
	text-align: center;
}

.sidebar .tag a:hover {
	background-color: #575757;
}

.topbar {
	width: 100%;
	background-color: #f4f4f4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 70px;
}

.user-profile {
	display: flex;
	align-items: center;
}

.profile {
	height: 100px;
	border-radius: 50%;
}

.shopname {
	color: var(--logo-new);
	font-size: 24px;
}

main {
	width: calc(100vw - 200px);
	padding-top: 70px;
}

main>.wrap {
	padding: 40px 40px 0 40px;
	min-width: 760px;
}

#admin-menu h1 {
	position: absolute;
	left: -9999px;
}

#admin-menu>.wrap {
	padding-top: 70px;
	width: 200px;
	min-height: 100vh;
	height: 100%;
	background-color: rgba(0, 10, 30, 1);
	color: #fff;
	font-size: 16px;
}

#admin-menu>.wrap a {
	color: #fff;
}

#menu-top {
	padding: 40px 20px;
	font-weight: 700;
}

#menu-list>.wrap dl {
	border-top: 1px solid rgba(255, 255, 255, .15);
	margin: 0;
}

#menu-list>.wrap dl dt:hover {
	background-color: var(--logo-new);
}

#menu-list>.wrap dl dt {
	font-weight: 700;
	padding: 1em 0;
	padding-left: 1em;
}

#menu-list>.wrap dl dd {
	padding: 0 1em;
	display: none;
	transition: all 3s;
}

#menu-list>.wrap dl.active dd {
	display: block;
	transition: all 3s;
}

#menu-list>.wrap dl dd:not(.sub) a:hover {
	background-color: var(--logo-new);
}

#menu-list>.wrap dl dd:not(.sub) a {
	font-size: 16px;
	padding: .5em 1em;
	display: block;
}

#menu-list>.wrap dl p.sub {
	font-size: 15px;
	color: rgba(255, 255, 255, 0.5);
	margin: 0;
}

#menu-list>.wrap dl dt {
	cursor: pointer;
}