<html xmlns:th="http://www.thymeleaf.org">
<ul id="parent-categories">
	<li th:each="dto:${list}">
		<!-- 1차카테고리 -->
		<a th:href="|/public/categories/${dto.categoryNo}|">[[${dto.categoryName}]]</a>
		
		<ul th:id="|child-categories-${dto.categoryNo}|" class="child-categories">
			<li th:each="sub:${dto.children}">
				<!-- 2차카테고리 -->
				<a th:href="|/public/categories/${sub.categoryNo}|">[[${sub.categoryName}]]</a>
				<ul th:id="|child-categories-${sub.categoryNo}|" class="child-categories">
					<li th:each="last:${sub.children}">
						<!-- 3차카테고리 -->
						<a th:href="|/public/categories/${last.categoryNo}|">[[${last.categoryName}]]</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
</html>
