<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::frame(~{this::head}, ~{this::main})}">

<head>
<meta charset="UTF-8">
<title>PETFIR</title>
<link rel="stylesheet" href="/css/mypage/mypage.css" />
<link rel="stylesheet" href="/css/commons/common.css" />
</head>
<body>
<main class="mypage">

	<div class="nav-rootbar">
		<nav class="nav-container">
			<ol class="flex middel">
				<li>홈</li>
				<li>></li>
				<li>마이페이지</li>
				<li>></li>
				<li>주문·배송</li>
			</ol>
		</nav>
	</div>

	<div class="top-box">
		<div class="nav-container">
			<div class="top-box-inner">
				<div class="profile-container">
				
					<div class="myprofile"><img src="/img/mypage/myprofile.jpg"></div>
					
					<div class="user-name-wrap">
						<span class="user-name">
							<a>유해리 님
							<i class="ri-settings-3-line"></i>
							</a>
						</span>
					</div>
					
					<div>
						<button>
							<div>
								<span>주문·배송</span>
								<i class="ri-shopping-bag-3-line"></i>
								<strong>0</strong>
							</div>
						</button>
						<button>
							<div>
								<span>좋아요</span>
								<i class="ri-heart-3-line"></i>
								<strong>0</strong>
							</div>
						</button>
						<button>
							<div>
								<span>나의 쿠폰</span>
								<i class="ri-coupon-3-line"></i>
								<strong>0</strong>
							</div>
						</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="mypage-main-container">
		<div class="mypage-sidebar">
			<div class="mypage-myshopping">
				<div>
					<h3>마이 쇼핑</h3>
				</div>
				<ul>
					<li><a>주문·배송</a></li>
					<li><a>교환·환불</a></li>
					<li><a>1:1 문의</a></li>
					<li><a>구매 후기</a></li>
				</ul>
			</div>
				<div class="mypage-myinfo">
				<div>
					<h3>마이 정보</h3>
				</div>
				<ul>
					<li><a>정보 수정</a></li>
				</ul>
			</div>
		</div>
		
		<div class="mypage-main">
			<h2>주문·배송</h2>
			<div>
				<div class="order-container">
					<span><i class="ri-shopping-bag-3-line"></i></span>
					<span>주문 및 배송조회 가능한 내역이 없습니다.</span>
				</div>
			</div>
		</div>
	</div>

</main>
</body>
</html>