<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::frame(~{this::head}, ~{this::main})}">

<head>
<meta charset="UTF-8">
<title>PETFIR</title>
<link rel="stylesheet" href="/css/mypage/mypage.css" />
<link rel="stylesheet" href="/css/commons/common.css" />
</head>
<body>
<main class="mypage">

<div th:replace="~{views/mypage/top}"></div>
<div class="mypage-main-container">
<div th:replace="~{views/mypage/sidebar}"></div>
	<div class="mypage-main">
	<h2>내 새꾸 정보 변경</h2>
	
			 <div class="mypet-container">
       
        <form>
            <div class="profile-picture">
                <img src="https://via.placeholder.com/100" alt="강아지 프로필 사진">
                <input type="file" id="profile-image-upload" hidden>
                <label for="profile-image-upload" class="upload-icon">
                    <i class="ri-camera-line"></i>
                </label>
            </div>

            <div class="form-group">
                <label for="dog-name">이름*</label>
                <input type="text" id="dog-name" placeholder="강아지 이름">
            </div>

            <div class="form-group">
                <label for="dog-breed">종류*</label>
                <select id="dog-breed">
                    <option value="말티푸">말티푸</option>
                    <option value="푸들">푸들</option>
                    <option value="시추">시추</option>
                </select>
            </div>

            <div class="form-group">
                <label for="birth-year">태어난 년도*</label>
                <select id="birth-year">
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                </select>
            </div>

            <div class="form-group">
                <label for="birth-month">태어난 월*</label>
                <select id="birth-month">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

            <div class="form-group">
                <label for="gender">성별*</label>
                <input type="text" id="gender" placeholder="성별">
            </div>

            <div class="form-group">
                <input type="checkbox" id="active" checked>
                <label for="active">이 아이로 활동하기</label>
            </div>

            <div class="button-group">
                <button type="submit" class="submit-btn">수정하기</button>
                <button type="button" class="delete-btn">삭제하기</button>
            </div>
        </form>
    </div>
			
			
		</div>
		
	</div>

</main>
</body>
</html>