<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/commons/layout-mypage::frame(~{this::head}, ~{this::#mypageContainer})}">

<head>
<meta charset="UTF-8">
<title>PETFIR</title>
<script src="/js/mypage/order.js"></script>
<link rel="stylesheet" href="/css/mypage/mypage.css" />
<link rel="stylesheet" href="/css/commons/common.css" />
</head>
<body>
	<main class="mypage">
		
		<div class="mypage-main-container" id="mypageContainer">
			<div th:replace="~{views/mypage/sidebar}"></div>

			<div class="mypage-main">
				<h2>주문·배송</h2>
				<div>
					<table class="order-table">
						<thead>
							<tr>
								<th>상품이미지</th>
								<th>주문번호</th>
								<th>상품명</th>
								<th>수량</th>
								<th>가격</th>
								<th>총가격</th>
								<th>주문일자</th>
								<th>상태</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dto:${list}">
								<td>
									<img alt="이미지" th:src="${dto.product.imgUrl}" height="100px">
								</td>
								<td>
									<span th:text="${dto.orderNo}"></span>
								</td>
								<td>
									<span th:text="${dto.product.productName}"></span>
								</td>
								<td>
									<span th:text="${dto.quantity}"></span>
								</td>
								<td>
									<span th:text="${dto.unitPrice}"></span>
								</td>
								<td>
									<span th:text="${dto.total}"></span>
								</td>
								<td>
									<span th:text="${dto.orderDate}"></span>
								</td>
								<td>
									<span th:text="${dto.status.roleName}">배송중</span>
								</td>
								<td><button class="details-btn" th:onclick="<!-- |showOrderDetails(${dto.orderNo})| -->">취소</button></td>
							</tr>
							
						</tbody>
					</table>
								
				</div>
			</div>
		</div>
	</main>

</body>
</html>