<div class="mypage-sidebar">
    <div class="mypage-myshopping">
        <div>
            <h3>마이 쇼핑</h3>
        </div>
        <ul>
            <li><a href="/petfir/mypage/orders">주문·배송</a></li>
            <li><a href="/petfir/mypage/return">교환·환불</a></li>
            <li><a href="#">1:1 문의</a></li>

        </ul>
    </div>
    <div class="mypage-myinfo">
        <div>
            <h3>마이 정보</h3>
        </div>
        <ul>
            <li><a href="/petfir/mypage/myinfo">정보 수정</a></li>
           
            
        </ul>
    </div>
</div>