    <div class="nav-rootbar">
        <nav class="nav-container">

        </nav>
    </div>
    <div class="top-box">
        <div class="nav-container">
            <div class="top-box-inner">
                <div class="profile-container">
                    <div class="myprofile">
                        <img src="/img/mypage/myprofile.jpg" alt="Profile">
                    </div>
                    <div class="user-name-wrap">
               			<div sec:authorize="isAuthenticated()" class="logoutwrap">
							<span class="user-name">
								<b sec:authentication="principal.name">이름</b>
								<span>님</span>
							</span>
						</div>
                       <a href="/petfir/mypage/myinfo"> <i class="ri-settings-3-line"></i></a>
                    </div>
                </div>
                <div class="mypage-btn-container">
                	<a href="/petfir/mypage/orders">
	                    <button class="mypage-box-btn" >
	                        <div class="mypage-btn">
	                            <span class="flex center">주문·배송</span>
	                            <i class="ri-shopping-bag-3-line"></i>
	                            <strong>2</strong>
	                        </div>
	                    </button>
                    </a>
                    <a href="/petfir/mypage/orders">
                    <button class="mypage-box-btn">
                        <div class="mypage-btn">
                            <span class="flex center">배송완료</span>
                            <i class="ri-shopping-bag-3-line"></i>
                            <strong>1</strong>
                        </div>
                    </button>
                    </a>
                    <a href="/petfir/mypage/return">
                    <button class="mypage-box-btn">
                        <div class="mypage-btn">
                            <span class="flex center">교환·환불</span>
                            <i class="ri-exchange-line"></i>
                            <strong>0</strong>
                        </div>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>