<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/admin/layout::layout(~{::head}, ~{::main})}">
	
<!--///주소록 html//-->

<head>

	<link rel="stylesheet" href="/css/cart/admin-naver.css">
	<link rel="stylesheet" href="/css/commons/common.css" />

</head>


<main class="jogicdo-mains">

	<section class="jojicdo-container">

		<section class="jogido-menu">

			<a>조직도</a>

			<table class="jojicdo-listss">

				<tr th:each="dto:${list}">

					<td th:text="${dto.orgUnitName}"></td>

					<td></td>

				</tr>

			</table>

			<hr>


		</section>


		<section class="jogicmem-main">

			<a>구성원 목록</a>

			<div class="jogocmem-list">

				<ul>

					<li class="jogic-title">

						<div>번호</div>

						<div>이름</div>

						<div>팀명</div>

						<div>직급</div>

						<div>자리번호</div>

					</li>

				</ul>

			</div>

			<!-- <div class="jojic-lists">

				<ul>
					<li class="th-contacts" th:each="mem:${mem}">

						<div th:text=${mem.member_no}>번호</div>

						<div th:text=${mem.member_name}>이름</div>

						<div th:text=${mem.member_sub}>조직명</div>

						<div th:text=${mem.member_roll}>직급</div>

						<div th:text=${mem.member_num}>연락처</div>

					</li>


				</ul>


			</div> -->

		</section>
	
		</section>
		
		
	</main>


</html>