<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/cart/pay.css" />
<link rel="stylesheet" href="/css/commons/common.css" />
<script src="https://js.tosspayments.com/v2/standard"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/pay/payaddress.js"></script>
<script src="/js/pay/onedetail.js"></script>

</head>
<body>

	<div class="onepaydetail">
	<div class="pay-left">
		<div class="paytitle">배송지정보</div>

		<div class="payman">
			<label for="payname">주문자</label> <b
				sec:authentication="principal.name">이름</b>
		</div>

		<div class="payname">

			<label for="payname">받는분</label> <input id="payname" type="text"
				name="payname" placeholder="이름">

		</div>

		<div class="payaddress">

			<label for="payaddress">배송주소</label> <input type="text"
				id="sample6_postcode" placeholder="우편번호"> <input
				type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"
				id="payaddressbtn"><br> <input type="text"
				id="sample6_address" placeholder="주소" name="address"><br>
			<input type="text" id="sample6_extraAddress" placeholder="참고사항">
			<input type="text" id="sample6_detailAddress" placeholder="상세주소"
				name="addressdetail">

		</div>

		<div class="paynumber">
			<label for="paynumber">휴대전화</label> <input id="paynumber" type="text"
				name="phone" placeholder="전화번호"><br>
		</div>
	</div>


	<div class="payment_css">
	<!-- 결제 UI -->
	<div id="payment-method"></div>
	<!-- 이용약관 UI -->
	<div id="agreement"></div>
	<!-- 결제하기 버튼 -->
	<button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
	</div>
	</div>
	<script>
      main();

      async function main() {
        const button = document.getElementById("payment-button");
        // ------  결제위젯 초기화 ------
        const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
        const tossPayments = TossPayments(clientKey);
        // 회원 결제
        const customerKey = "tegVV6IjZsKL_ce9s5d17";
        const widgets = tossPayments.widgets({
          customerKey,
        });
        // 비회원 결제
		
		const totalPrice = localStorage.getItem('totalPrice') || '0';
		const discountedPrice = parseInt(totalPrice.replace(/[^0-9]/g, ''), 10); // 숫자만 추출
		

        // ------ 주문의 결제 금액 설정 ------
        await widgets.setAmount({
          currency: "KRW",
          value: discountedPrice,
        });

        await Promise.all([
          // ------  결제 UI 렌더링 ------
          widgets.renderPaymentMethods({
            selector: "#payment-method",
            variantKey: "DEFAULT",
          }),
          // ------  이용약관 UI 렌더링 ------
          widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
        ]);

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        button.addEventListener("click", async function () {
        
        	const uniqueOrderId = generateUniqueOrderId(); // 고유 주문번호 생성
        
          await widgets.requestPayment({
            orderId: uniqueOrderId,
            orderName: "Petfir",
            successUrl: window.location.origin + "/petfir/pay/detail/success",
            failUrl: window.location.origin + "/petfir/pay/detail/fail",
            //customerEmail: "customer123@gmail.com",
         	//customerName: "김토스",
            //customerMobilePhone: "01012341234",
           
          });
        });
      }
	  
	  
	  
	  
      //새로운 주문번호 생성하는 함수
      function generateUniqueOrderId() {
    	    // 고유 주문번호 생성 예시 (현재 시간 + 랜덤 숫자)
    	    return 'order-' + Date.now() + '-' + Math.floor(Math.random() * 1000);
    	}
    </script>
</body>
</html>