/*베너*/
.banner-container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px; /* 배너의 높이 조정 */
    overflow: hidden;
    display: flex;
    transition: opacity 1s ease-in-out; /* 페이드 효과 추가 */
    background-color: var(--main-pink);
}

.banner-btn{
	padding:10px;
	border-radius: 38%;
	background-color: var(--sub-pink);
}
.banner {
	display: flex;
    position: absolute;
   	justify-content:center;
    max-width: 1200px; /* 전체 화면 너비를 사용 */
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* 페이드 전환 효과 */
}
.banner-wrap{
	overflow: hidden;
}

.banner.active {
    opacity: 1;
}
.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%; /* 각 컬럼의 너비 설정 */
    padding: 0 20px; /* 좌우 패딩 */
}

.col-2 img {
    max-width: 100%;
    height: auto;
}

.col-2 h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p {
    font-size: 30px;
}

.col-2 a {
    font-size: 20px;
}


/**/
.index-main{
	width: 100%;
}


/*메인*/
.wrapper {
    display: block;
    justify-content: center;
    margin: 0 auto; /* 가로 가운데 정렬 */
    max-width: 1200px;
}
.wrapper.category {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.category{
	margin: 20px 0px;
}

.col-3{
	display:flex;
	justify-content: space-between;
	width: 100%;
    text-align: center;
}

.col-3 img {
    width: 100px; /* 이미지 너비 조절 */
    height: auto;
    display: block;
    margin-bottom: 10px; /* 이미지와 텍스트 사이의 간격 조절 */
}

.col-3 a:hover {
    
    color: var(--logo-brown);
    font-weight: bold;
}

.col-4container{
	display: flex;
	width: 100%;
	
	background-color: var(--sub-grey);
	justify-content: center;
    align-items: center;
}
.col-4{
	text-align: center;
	justify-content: center;
	vertical-align: middle;
	padding: 0 50px;
}
.col-4img{
	position: relative;
	height: 200px;
	padding: 0 50px;
    margin: 0px;
}
.col-4>h1{
	display: flex;
	font-size: 30px;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
}
.col-4>p{
	font-size: 30px;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
}

h2{
	font-size: 40px;
	padding: 10px 0;
	
}
#showMoreBtn{
	display: inline-block;
    padding: 5px;
    font-size: 15px; /* 글자 크기 */
    color: var(--grey); /* 글자 색상 */
    background-color: transparent;
    border: none; /* 테두리 없음 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 링크 장식 없음 */
}
.col-5{
	width: 100%;
	justify-content: space-between;
	
}
.product-image {
	display: flex;
    width: 230px;
    height: 230px;
    
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.swiper-slide {
	
	text-align: left;
	width: 280px;
	justify-content: center;
    
}


.swiper-slide-1{
	display: inline-block;

}
.discount{
	color: red;
}

.col5-text{
	display: inline-block;
	width: 100%;
	font-size: 20px;
}

.col5-text1>span{
	padding-top: 15px;
}


.col-6{
	display: flex;
	justify-content: center;
	vertical-align: middle;
	width:100%;
	min-height: auto;
	background-color: var(--main-pink);
	padding: 30px;
}
.inner-wrap{
	align-items: center;
	justify-content: space-around;
	background-color: var(--white);
	min-width: 1200px;
	min-height: 400px;
	padding: 20px;
}
.todayimg{
	
	display: block;
	width: 280px;
	height: 280px;
	background-size: contain;
	background-repeat: no-repeat;
}

.wrapper>p{
	font-size: 20px;
}

.ri-time-fill,
.time{
	
	font-size: 50px;
	font-weight: bold;
}

.col-6-text-inner>div>p{
	font-size: 20px;
}
.dis-per{
	font-size: 30px !important;
	color: red;
	margin-right: 5px;
}
.dis-pri{
	font-size: 30px !important;
	margin-right: 10px;
}

.ri-time-fill{
	color: var(--point-purple);
}
.col-7,
.col-8{
	display:flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 100px;
}
.col-7-container,
.col-8-container{
	width: 1200px;
}
.imgbox{
	width: 280px;
	height: 280px;
	background-color: var(--sub-grey);
	margin-right: 32px;
	
}